<div class="header-container">
    <button class="book-form-button" [routerLink]="['book-form']">Book Form</button>
    <button class="book-form-button" style="width: 15rem;" [routerLink]="['subscriptions']">View Subscriptions</button>
</div>

<section>
        <div class="footer-container">
            <h2 class="contacts-head">Contacts</h2>
    
            <div class="contacts-main">
                <h4 class="contacts-address">Address:</h4>
                <p class="contacts-address-main"> bul. "Vitosha" 89B, 1606 Ivan Vazov, Sofia</p>
    
                <h4 class="contacts-phone-number">Phone number:</h4>
                <p class="contacts-phone-number-main">+359885590096</p>
            </div>
        </div>
</section>

<router-outlet></router-outlet>
